{% extends "base.html" %}

{% block content %}
{% comment " This skeleton code is taken from a YouTube Tutorial by DaveGray www.youtube.com/watch?v=DIFaOkxy6TE " %}{% endcomment %}
    <section>
        <h1 class="title">USER LOGIN</h1>
        <hr>
        <form action="/user/login/" method="post" class="form-with-validation">
            {% csrf_token %}
            {{form}}
            <div class="slide-wrapper">
                <button type="submit" class="slide-button">
                    <span>Login</span>
                </button>
            </div>
        </form>
    </section>
{% endblock content %}