{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    {% if user.is_authenticated %}
        <h1 class="title">{{user|upper}} PROFILE</h1>
        <hr>
        <div class="container">
            {% if user.picture %}
                <img src="{{user.picture.url}}" alt="Profile" style="max-width:200px">
                {% else %}
                <img src="{% static 'images/default_profile.webp' %}" alt="Profile" >
            {% endif %}
            <ul>
                <li><strong>E-mail:</strong> {{user.email}}</li>
                <li><strong>First Name:</strong> {{user.first_name}}</li>
                <li><strong>Last Name:</strong> {{user.last_name}}</li>
                <li><strong>Phone Number:</strong> {{user.phone_number}}</li>
                <li><strong>Location:</strong> {{user.location}}</li>
            </ul>
        </div>
        
        <h2>Your Groups</h2>
        {% for item in linkedGroups %}
        <div class="accordion-container">
            <input type="checkbox" id="accordion-{{ forloop.counter }}" class="accordion-button" />
            <label for="accordion-{{ forloop.counter }}" 
                   style="background-color: {{item.GroupColour}};">
                {{item.group}}
            </label>
            
            <div class="accordion-content">
                <h2>{{item.group}}</h2>
                <p><strong>Share Code:</strong> {{item.GroupShareCode}}</p>
                
                <div class="button-container">
                    <div class="slide-wrapper">
                        <a href="{% url 'group:leave' item.group.id %}" class="slide-button">
                            <span>Leave Group 💣</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
            <p>You're not in any groups yet</p>
        {% endfor %}
        
        <div class="slide-wrapper" style="margin-top: 2rem;">
            <a href="{% url "user:edit_view" user.id %}" class="slide-button">
                <span>Edit Profile ✍</span>
            </a>
        </div>
    {% else %}
        <h2>User not logged in, please <a href="{% url "user:login" %}">Log In</a> or <a href="{% url "user:register" %}">Sign-Up</a></h2>
    {% endif %}
</section>
{% endblock content %}