{% extends "base.html" %}
{% load static %}
{% block content %}
<section>
    {% if user.is_authenticated %}
        <h1>{{user}} Profile</h1>
        <li>{{user.email}}</li>
        <li>{{user.first_name}}</li>
        <li>{{user.last_name}}</li>
        <li>{{user.phone_number}}</li>
        <li>{{user.location}}</li>
        <a href="{% url "user:edit_view" user.id %}">
            <button>Edit Profile ✍</button>
        </a>
    {% else %}
    <h2>User not logged in, please <a href="{% url "user:login" %}">Log In</a> or <a href="{% url "user:register" %}">Sign-Up</a></h2>
    {% endif %}
</section>
{% endblock content %}