{% extends "base.html" %}

{% block content %}
<section>
    <h1>Event: {{event.EventName}}</h1>
    <div> 
        <ul>        
            Attending:
        {% for item in linkedUsers %}
        <li>
            {{item.user.username}}
        </li>
        {%empty%}
            <li>No one is linked to this event</li>
        {% endfor %}
        
        </ul>
    </div>
    <form method="post">
        {% csrf_token %}
        {{event_form}}
        <button type="submit" name="save_event">Update Event</button>
    </form>

    
</section>

<section>
        <form method="post">
            {% csrf_token %}
            {{ status_form }}
            <button type="submit">Update status</button>
        </form>
        
</section>
<hr>
{% endblock content %}

