{% extends "base.html" %}

{% block content %}
<section>
    <h1>Your Events</h1>

    {% for eventDetails in events %}
        <h2>{{eventDetails.event.EventName}}</h2>
        <h3>{{eventDetails.event.StartDate}}</h3>
        <h3>{{eventDetails.event.EndDate}}</h3>
        <h3>{{eventDetails.event.StartTime}}</h3>
        <h3>{{eventDetails.event.EndTime}}</h3>
        <h3>{{eventDetails.event.Notes}}</h3>
        <h3>{{eventDetails.status}}</h3>
    {% endfor %}

</section>
{% endblock content %}

