{% extends "layout.html" %}
{% load static %}
{% block content %}
<div id="title">
    <h1>ARMONARIO</h1>
    <p class="large-font">Timekeeping for your tribe, from family to Empire...</p>
</div>
<div class="container">
    <div class="login-form ">

    </div>
</div>
<hr>
<section aria-label="Armonario information">
    {% comment %} <form class="cta-form" action=""> 
        <div class="login-container">
            <label for="email">Create an account or login:</label>
            <input id='login-input' type="email" name="email" id="email" placeholder="caesar@armonario.co.uk">
            <button id='login-btn' type="submit">▶</button>
        </div>
    </form> {% endcomment %}
    <div class="product-info">
        <div class="info-blocks">
            {% comment %} <div class="img-block">
                <img src="{% static 'images/caesar-addresses-army.webp' %}" alt="" sizes="" srcset="">
            </div>
            <div class="text-div">
                <p>
                    Summon the centurions or schedule a playdate with Nonna. Create Groups for work and Groups for
                    friends or family. Use the name and generated sharecode to let
                    others join your Groups safely and securely.
                </p>
            </div> {% endcomment %}
        </div>
        <div class="info-blocks">
            <div class="img-block " id="alternate-layout ">
                <img src="{% static 'images/roman-puzzled-calendar.webp'%}" alt="" sizes="" srcset="">
            </div>
            <div class="color-div-A">
                <div class="text-div">
                    <p>
                        Personalised Calendars with Groups and events.
                
                    </p>
                </div>
            </div>
        </div>
        <div class="info-blocks">
            <div class="color-div-B">
                <div class="text-div">
                    <p>
                        Create a Group and set a colour for everyone to see you've got something planned!
                    </p>
                </div>
            </div>
            <div class="img-block">
                <img src="{% static 'images/terrible-calendar.webp'%}" alt="" sizes="" srcset="">
            </div>
        </div>
    </div>
</section>
{% endblock content %}