{% load static %}
{% url 'home' as home_url %}
{% url "profile" as profile_url %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

<body>
    <header>
        <div>
            <nav>
                <ul>
                    <ul><a href="/">Home</a></ul>
                    {% if user.is_authenticated %}
                        <ul><a href="{% url "user:profile" %}">{{user.username}} 's Profile</a></ul>
                        <ul><a href="{% url "user:logout" %}">Log out {{user.username}}</a></ul>
                        <form action="{% url "user:logout" %}" method="post">
                            {% csrf_token %}
                            <button>Log out</button>
                        </form>
                    {% comment %} <ul><a href="{% url "user:logout" %}"></a></ul> {% endcomment %}
                    {% else %}
                        <ul><a href="{% url "user:login" %}">Log in</a></ul>
                        <ul><a href="{% url "user:register" %}">Register</a></ul>
                    {% endif %}
                    {% comment %} <ul><a href="{% url "" %}">About</a></ul> {% endcomment %}
                    {% comment %} <ul><a href="{% url "" %}"></a></ul> {% endcomment %}
                    
                </ul>
            </nav>
        </div>
    </header>
    <main >
        
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>
</body>

</html>
