{% extends "base.html" %}
{% block content %}
{% comment " This skeleton code is taken from a YouTube Tutorial by DaveGray www.youtube.com/watch?v=DIFaOkxy6TE " %}{% endcomment %}
    <section>
        <h1>Create an Event</h1>
        <form action="/event/create/" method="post" class="form-with-validation">
            {% csrf_token %}
            {{eform}}
            {{uform}}
            <button>Submit</button>
        </form>
    </section>
    {% comment %} {% for item in linkedGroups %}
            <button class="accordion-button" style="color:{{item.GroupColour}};">{{item.group}}</button>
            <div class="accordion">                
                <h2>{{item.GroupName}}</h2>
                <p>The sharecode is: {{item.GroupShareCode}}</p>                
                <a href="{% url 'group:leave' item.group.id %}">
                    <button>Leave Group 💣</button>                
                </a>               
            </div>
        {% empty %}
            <h2>You're not in any groups yet</h2>
        {% endfor %} {% endcomment %}
    <h2>{{response}}</h2>
{% endblock content %}